<h1>Sobre mi</h1>

<p>Introduce tu email para suscribirte a mi Newsletter</p>

<form method="POST" action="/about">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email:</label>
    <input 
        name="email"
        type="email" 
        class="form-control" 
        id="exampleInputEmail1">
  </div>
  <button type="submit" class="btn btn-primary">Suscribete</button>
</form>