<h1>Hola! Esto es una pagina de contacto</h1>

<p>Esto es mi formulario de contacto</p>


<form method="POST" action="/contacto">
<!-- hkgndjgndfkjgeng -->
    <label>Email:</label>
    <input type="email" name="email" />

    <label>Mensaje:</label>
    <textarea name="message"></textarea>

    <input type="submit" value="Enviar" />
</form>