<h1>Hola mundo! Mi primera web!</h1>
<p>Hola parrafo</p>

<p>Puedes escribirme en mi <a href = "/contacto">pagina de contacto</a></p>

<p>Y si quieres te saludo <a href = "/hola">aquí</a>.</p>

<p><a href = "https://google.es/">Tambien podemos ir a google</a></p>